/**
 * INSTACLARITY API
 * INSTACLARITY API
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package io.swagger.client.api;

import com.android.volley.Response;
import com.android.volley.VolleyError;
import com.google.gson.reflect.TypeToken;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import io.swagger.client.ApiException;
import io.swagger.client.ApiInvoker;
import io.swagger.client.BaseModel;
import io.swagger.client.BuildConfig;
import io.swagger.client.Pair;
import io.swagger.client.model.Token;
import io.swagger.client.request.multipart.MultiPartBody;


public class TokenApi {
    String basePath = BuildConfig.SERVER_URL;
    ApiInvoker apiInvoker = ApiInvoker.getInstance();

    public void addHeader(String key, String value) {
        getInvoker().addDefaultHeader(key, value);
    }

    public ApiInvoker getInvoker() {
        return apiInvoker;
    }

    public void setBasePath(String basePath) {
        this.basePath = basePath;
    }

    public String getBasePath() {
        return basePath;
    }

    /**
    * Oauth Token of User
    * The Oauth Token endpoint returns oauth token of user.
       * @param clientId client Id   * @param clientSecret client secret   * @param username Username   * @param password password   * @param grantType grant Type
    */
    public void getToken (String clientId, String clientSecret, String username, String password, String grantType, final Response.Listener<BaseModel<Token>> responseListener, final Response.ErrorListener errorListener)
    {
        Object postBody = null;

        
        // verify the required parameter 'clientId' is set
        if (clientId == null) {
            VolleyError error = new VolleyError("Missing the required parameter 'clientId' when calling getToken",
                    new ApiException(400, "Missing the required parameter 'clientId' when calling getToken"));
        }
        
        // verify the required parameter 'clientSecret' is set
        if (clientSecret == null) {
            VolleyError error = new VolleyError("Missing the required parameter 'clientSecret' when calling getToken",
                    new ApiException(400, "Missing the required parameter 'clientSecret' when calling getToken"));
        }
        
        // verify the required parameter 'username' is set
        if (username == null) {
            VolleyError error = new VolleyError("Missing the required parameter 'username' when calling getToken",
                    new ApiException(400, "Missing the required parameter 'username' when calling getToken"));
        }
        
        // verify the required parameter 'password' is set
        if (password == null) {
            VolleyError error = new VolleyError("Missing the required parameter 'password' when calling getToken",
                    new ApiException(400, "Missing the required parameter 'password' when calling getToken"));
        }
        
        // verify the required parameter 'grantType' is set
        if (grantType == null) {
            VolleyError error = new VolleyError("Missing the required parameter 'grantType' when calling getToken",
                    new ApiException(400, "Missing the required parameter 'grantType' when calling getToken"));
        }
        

        // create path and map variables
        String path = "/o/token/".replaceAll("\\{format\\}","json");

        // query params
        List<Pair> queryParams = new ArrayList<Pair>();
        // header params
        Map<String, String> headerParams = new HashMap<>();
        // form params
        Map<String, String> formParams = new HashMap<>();



        // Check if array is empty inside and "array-exist" condition is true.
        String contentType =  "application/x-www-form-urlencoded";

        if (contentType.startsWith("multipart/form-data"))
        {
            MultiPartBody.Builder builder = new MultiPartBody.Builder().setType(MultiPartBody.FORM);
            if (clientId != null) {
                builder.addFormDataPart("client_id",ApiInvoker.parameterToString(clientId));
                // localVarBuilder.addTextBody("client_id", ApiInvoker.parameterToString(clientId), ApiInvoker.TEXT_PLAIN_UTF8);
            }
            if (clientSecret != null) {
                builder.addFormDataPart("client_secret",ApiInvoker.parameterToString(clientSecret));
                // localVarBuilder.addTextBody("client_secret", ApiInvoker.parameterToString(clientSecret), ApiInvoker.TEXT_PLAIN_UTF8);
            }
            if (username != null) {
                builder.addFormDataPart("username",ApiInvoker.parameterToString(username));
                // localVarBuilder.addTextBody("username", ApiInvoker.parameterToString(username), ApiInvoker.TEXT_PLAIN_UTF8);
            }
            if (password != null) {
                builder.addFormDataPart("password",ApiInvoker.parameterToString(password));
                // localVarBuilder.addTextBody("password", ApiInvoker.parameterToString(password), ApiInvoker.TEXT_PLAIN_UTF8);
            }
            if (grantType != null) {
                builder.addFormDataPart("grant_type",ApiInvoker.parameterToString(grantType));
                // localVarBuilder.addTextBody("grant_type", ApiInvoker.parameterToString(grantType), ApiInvoker.TEXT_PLAIN_UTF8);
            }
            //HttpEntity httpEntity = localVarBuilder.build();
            postBody = builder.build();
        }
        else
        {
            // normal form params
            formParams.put("client_id", ApiInvoker.parameterToString(clientId));formParams.put("client_secret", ApiInvoker.parameterToString(clientSecret));formParams.put("username", ApiInvoker.parameterToString(username));formParams.put("password", ApiInvoker.parameterToString(password));formParams.put("grant_type", ApiInvoker.parameterToString(grantType));
        }
        String[] authNames = new String[] {  };

        try {
            Type containerType = new TypeToken< BaseModel<Token>>(){}.getType();
            apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,containerType,
            new Response.Listener<Object>() {
                @Override
                public void onResponse(Object localVarResponse) {
                    // responseListener.onResponse((Token)
                    responseListener.onResponse((BaseModel<Token>) localVarResponse);
                    }
                }, new Response.ErrorListener() {
                @Override
                    public void onErrorResponse(VolleyError error) {
                    errorListener.onErrorResponse(error);
                }
            });
        } catch (ApiException ex) {
          errorListener.onErrorResponse(new VolleyError(ex));
        }
    }
}
